<form class="{{cssClass}}" autocomplete="off">
    <table>
        <tr>
            <td>
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="72" width="72"/>
            </td>
            <td width="40%">
                <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
            <td width="40%">
                <img src="systems/abstractd/ui/logoAD.png" title="Abstract Logo" height="72" width="216" alt="Abstract Logo"/>
            </td>
        </tr>       
    </table>
    <table>
        <tr>
            <td width="5%">
                dé : <input name="data.codede" type="text" value="{{data.codede}}" placeholder="de 1 à 6"/>
            </td>
            <td class="donneecentre" width="15%">
                <br><img src="{{data.repdessin}}{{data.codede}}.png" title="" height="30" width="30"/>
            </td>
            <td width="85%">
                Attaque :
                <textarea name="data.petitxt" value="{{data.petitxt}}" rows="3">{{data.petitxt}}</textarea>
            </td>
        </tr>
    </table>
</form>