<form class="{{cssClass}}" autocomplete="off">
    <input name="data.initialise" type="{{texteAff}}" value="{{data.initialise}}"/>
    <table> 
        <tr>
            <td>
                <a class="Ele-rerollall"  data-ref="ALL" data-key="all"><img src="systems/abstractd/ui/logoAD.png" title="Relance tous les dés du personnage" height="128" width="325" alt="Abstract Logo"/></a>
            </td>
            <td>
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" /> 
            </td>
            <td>
                <br><br><a class="Ele-rerollall" title="Relance tous les dés" data-ref="ALL" data-key="all"><i class="fas fa-recycle"></i> tout relancer</a><br><br>
                <a class="pnj-showall" title="Message des dés" data-ref="ALL" data-key="all"><i class="fas fa-eye"></i> Montrer à Tous</a>
            </td>
        </tr>
    </table>
    <table  text-align="center">
      <tr>
        <th class="titrenb">NOM du défi</th>
        <th class="titrenb">nb PJ</th>
        <th class="titrenb">Nb Dés</th>
        <th class="titrenb">Dés/PJ</th>
        <th class="titrenb">Total</th>
      </tr>  
      <tr>
        <td class="donneecentre" width="60%"><input  name="name" type="text" value="{{actor.name}}" placeholder="Name" /></div></td>
        <td class="donneecentre" width="10%"><input  name="data.nbjoueurs" type="text" value="{{data.nbjoueurs}}" placeholder="1" /></td>
        <td class="donneecentre" width="10%"><input name="data.difficulte" type="text" value="{{data.difficulte}}" placeholder="0" /></td>
        <td class="donneecentre" width="10%"><input name="data.diffnbpj" type="text" value="{{data.diffnbpj}}" placeholder="0" /></td>
        <td class="donneecentre" width="10%"><input name="data.desTotal" type="text" value="{{data.desTotal}}" placeholder="0" /></td>
      </tr>
    </table>
   
    <div class="box">
        <div class="blackcellpadding"></div>
        <div class="onlignedroite">Réserve :</div>
        <div class="blackcellpadding">
            <a class="Ele-rerollall" title="Relance tous les dés" data-ref="A" data-key="res"><i class="fas fa-dice-six"></i></a>
        </div>
        <div class="blackcellpadding"></div>
    </div>
    <input name="data.lstdesjson" type="{{texteAff}}" value="{{data.lstdesjson}}" />
    <input name="data.bckpdesjson" type="{{texteAff}}" value="{{data.bckpdesjson}}" />
    <input name="data.bckpindicejson" type="{{texteAff}}" value="{{data.bckpindicejson}}" />
    <table>
        <tr  class="lstdescentrer">
            {{#each data.lstdes as |des key|}}
            <td><label class ="selectDiceNPC" data-ref="reserve" data-key="{{key}}"><img src="{{../data.repdessin}}{{des}}.png" title="Dés : {{../data.repdessin}}{{des}}.png" height="35" width="35" alt="Dés-{{des}}"/></label></td>
            {{#if (ismultiple key 10)}}
        </tr><tr  class="lstdescentrer">
            {{/if}}
            {{/each}}
        </tr>
    </table>
    <div class="box">
        <div class="blackcellpadding"></div>
        <div class="onlignedroite"> <a class="select-annuler" title="Annuler la selection"><i class="fas fa-eject"></i></a>&nbsp;&nbsp; dés consommés
            &nbsp;&nbsp;<a class="select-valider" title="Valider la selection"><i class="fas fa-check-double"></i></a> :</div>
        <div class="blackcellpadding">
        </div>
        <div class="blackcellpadding"></div>
    </div>
    <table>
        <tr class="lstdescentrer">
            {{#each data.bckpdes as |desB key|}}
            <td><label class ="selectDiceNPC" data-ref="backup" data-key="{{key}}"><img src="{{../data.repdessin}}{{desB}}.png" title="Dés : {{../data.repdessin}}{{desB}}.png" height="25" width="25" alt="Dés-{{desB}}"/></label></td>
            {{#if (ismultiple key 10)}}
        </tr><tr  class="lstdescentrer">
            {{/if}}
            {{/each}}
        </tr>
    </table>
    Description ou Condition d'utilisation:
    <textarea name="data.notes" rows="5">{{data.notes}}</textarea>
    <table>
        <tr  class="lstdescentrer">
            {{#each data.lstdesd as |des key|}}
            <td><label class ="selectDiceNPC" data-ref="reserve" data-key="{{key}}"><img src="{{../data.repdessin}}{{des}}.png" title="Dés : {{../data.repdessin}}{{des}}.png" height="35" width="35" alt="Dés-{{des}}"/></label></td>
            {{/each}}
        </tr>
    </table>
</form>