<form class="{{cssClass}}" autocomplete="off">
    <input name="data.initialise" type="{{texteAff}}" value="{{data.initialise}}"/>
    <table> 
        <tr>
            <td>
                <a class="Ele-rerollall"  data-ref="ALL" data-key="all"><img src="systems/abstractd/ui/logoAD.png" title="Relance tous les dés du personnage" height="102" width="206" alt="Abstract Logo"/></a>
            </td>
            <td>
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="102" width="" /> 
            </td>
            <td>
                <br><br><a class="Ele-rerollall" title="Relance tous les dés" data-ref="ALL" data-key="all"><i class="fas fa-recycle"></i> tout relancer</a><br><br>
                <a class="pnj-showall" title="Message des dés" data-ref="ALL" data-key="all"><i class="fas fa-eye"></i> Montrer à Tous</a>
            </td>
        </tr>
    </table>
    <table  text-align="center">
      <tr>
        <th class="titrenb" width="20%">Archetype</th>
        <th class="titrenb" width="20%">NOM du PNJ</th>
        <th class="titrenb" width="7%">nb PJ</th>
        <th class="titrenb" width="12%">type</th>
        <th class="titrenb" width="7%">Nb Dés</th>
        <th class="titrenb" width="7">Dés/PJ</th>
        <th class="titrenb" width="7%">Total</th>
      </tr>  
      <tr>
        <td class="donneecentre" width="50%"><input  name="data.archetype" type="text" value="{{data.archetype}}" placeholder="Humain" /></div></td>
        <td class="donneecentre" width="50%"><input  name="name" type="text" value="{{actor.name}}" placeholder="Name" /></div></td>
        <td class="donneecentre" width="10%"><input  name="data.nbjoueurs" type="text" value="{{data.nbjoueurs}}" placeholder="1" /></td>
        <td class="donneecentre" width="10%"><select  name="data.type">
                {{selectOptions TypesAdv selected=TypeValue}}
                </select>
             </td>
        <td class="donneecentre" width="10%"><input name="data.difficulte" type="text" value="{{data.difficulte}}" placeholder="0" /></td>
        <td class="donneecentre" width="10%"><input name="data.diffnbpj" type="text" value="{{data.diffnbpj}}" placeholder="0" /></td>
        <td class="donneecentre" width="10%"><input name="data.desTotal" type="text" value="{{data.desTotal}}" placeholder="0" /></td>
      </tr>
    </table>
   
    <div class="box">
        <div class="blackcellpadding"></div>
        <div class="onlignedroite">Réserve :</div>
        <div class="blackcellpadding">
            <a class="Ele-rerollall" title="Relance tous les dés" data-ref="A" data-key="res"><i class="fas fa-dice-six"></i></a>
        </div>
        <div class="blackcellpadding"></div>
    </div>
    <input name="data.lstdesjson" type="{{texteAff}}" value="{{data.lstdesjson}}" />
    <input name="data.bckpdesjson" type="{{texteAff}}" value="{{data.bckpdesjson}}" />
    <input name="data.bckpindicejson" type="{{texteAff}}" value="{{data.bckpindicejson}}" />
    <table>
        <tr  class="lstdescentrer">
            {{#each data.lstdes as |des key|}}
            <td><label class ="selectDiceNPC" data-ref="reserve" data-key="{{key}}"><img src="{{../data.repdessin}}{{des}}.png" title="Dés : {{../data.repdessin}}{{des}}.png" height="35" width="35" alt="Dés-{{des}}"/></label></td>
            {{#if (ismultiple key 10)}}
            </tr><tr  class="lstdescentrer">
            {{/if}}
            {{/each}}
        </tr>
    </table>
    <div class="box">
        <div class="blackcellpadding"></div>
        <div class="onlignedroite"> <a class="select-annuler" title="Annuler la selection"><i class="fas fa-eject"></i></a>&nbsp;&nbsp; dés consommés
            &nbsp;&nbsp;<a class="select-valider" title="Valider la selection"><i class="fas fa-check-double"></i></a> :</div>
        <div class="blackcellpadding">
        </div>
        <div class="blackcellpadding"></div>
    </div>
    <table>
        <tr class="lstdescentrer">
            {{#each data.bckpdes as |desB key|}}
            <td><label class ="selectDiceNPC" data-ref="backup" data-key="{{key}}"><img src="{{../data.repdessin}}{{desB}}.png" title="Dés : {{../data.repdessin}}{{desB}}.png" height="25" width="25" alt="Dés-{{desB}}"/></label></td>
            {{#if (ismultiple key 15)}}
        </tr><tr class="lstdescentrer">
            {{/if}}
            {{/each}}
        </tr>
    </table>
    <table >
        <tr>
            <td class="titrenb" width="50%">
                Vulnérabilites
            </td>
            <td class="titrenb" width="50%">
                Résistances
            </td>
        </tr>   
        <tr>
            <td>
                <textarea name="data.vulnerabilite" rows="2">{{data.vulnerabilite}}</textarea>
            </td>
            <td>
                <textarea name="data.resistance" rows="2">{{data.resistance}}</textarea>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th class="titrenb" width="7%"></th>
            <th class="titrenb" width="28%">Nom de l'attaque</th>
            <th class="titrenb" width="50%">Action</th>
            <th class="titrenb" width="5%"></th>
        </tr>
        {{#each data.lstattaques as |obj ind|}}
        <tr class="item" data-item-id="{{this.data._id}}">
            <td><a class="select-attaque" title="choisir cette attaque" data-ref="{{obj.data.data.codede}}" data-key="{{key}}"> <img src="{{../data.repdessin}}{{obj.data.data.codede}}.png"  height="30" width="30" /></td>
            <td>
                {{name}}
            </td>
            <td class="lstdescentrer">
                {{data.data.petitxt}}
            </td>
            <td class="lstdescentrer">
                <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/each}}
        </tr>
    </table>
    Special:
    <textarea name="data.speciale" rows="2">{{data.speciale}}</textarea>
    description:
    <textarea name="data.notes" rows="2">{{data.notes}}</textarea>
</form>